@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,700;1,400&family=Raleway:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav {
  height: 80px;
  justify-content: space-between;
}
.nav__toggler {
  position: absolute;
  left: -100vw;
}
.nav__label {
  position: absolute;
  right: 2em;
  top: 1.5em;
}
.nav__links {
  max-height: 0;
  overflow: hidden;
  background: #FFF;
}
.nav__links li {
  background: #FFF;
}
#toggler:checked ~ .nav__links {
  max-height: 450px;
  transition: max-height 0.3s ease-in;
}
.nav__brand {
  background: #0C0910;
  color: #FFF;
  font-family: "Old Standard TT", serif;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1em 0.5em;
  line-height: 1.4em;
  display: inline-block;
}
.nav__link {
  background: #FFF;
  display: block;
  font-size: 1em;
  color: #0C0910;
  text-decoration: none;
  padding: 2em;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
  .nav__label {
    display: none;
  }
  .nav__links {
    display: flex;
    padding-right: 3em;
  }
  .nav__links {
    height: auto;
    max-height: 80px;
  }
}
.content {
  position: relative;
}
.content__text {
  padding: 3rem;
}
.content__title {
  font-family: "Old Standard TT", serif;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.content__paragraph {
  font-family: "Raleway", sans-serif;
  color: #646266;
  line-height: 2;
}
.content__btn {
  margin-top: 4em;
}

.header {
  background: url(../images/image1.png);
  height: 50vh;
  background-size: cover;
}

@media (min-width: 992px) {
  .content {
    width: 45%;
    height: calc(100vh - 80px);
  }

  .header {
    width: 55%;
    float: right;
    height: calc(100vh - 80px);
  }
}
.content__newsletter {
  background-color: #0C0910;
  color: #FFF;
  position: relative;
}
.content__form {
  padding: 1em 8em 1em 3em;
}
.content__form h2 {
  font-size: 30px;
  margin-bottom: 0.5em;
}
.content__form label {
  display: block;
  margin-bottom: 1em;
}
.content__form input {
  padding: 0.5em 1em;
  width: 100%;
  border: 0;
  border-radius: 0;
}
.content__form input::placeholder {
  font-family: "Raleway", sans-serif;
}
.content__subscription {
  background-color: #FFF;
  color: #0C0910;
  position: absolute;
  padding: 1em;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  right: 0;
  top: 0;
  bottom: 0;
  writing-mode: vertical-rl;
}

@media (min-width: 992px) {
  .content__newsletter {
    position: fixed;
    width: 45%;
    bottom: 0;
  }
}
.button {
  padding: 0.8em 1em;
  display: inline-block;
  border: 1px solid #0C0910;
  color: #0C0910;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.button:hover {
  border-color: #A6A5A8;
}
.button:focus {
  border-color: #A6A5A8;
  color: #A6A5A8;
}

/*# sourceMappingURL=main.css.map */
