//main content
.content{
  position: relative;
  &__text{
    padding: 3rem;
  }
  &__title{
    font-family: $old-standard;
    font-size: $font-size-xxx-large;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__paragraph{
    font-family: $raleway;
    color: $granite-gray;
    line-height: 2;
  }
  &__btn{
    margin-top: 4em;
  }
}

.header {
  background: url(../images/image1.png);
  height: 50vh;
  background-size: cover;
}

@media (min-width: $breakpoint-desktop) {
  .content {
    width: 45%;
    height: calc(100vh - 80px);
  }

  .header {
    width: 55%;
    float: right;
    height: calc(100vh - 80px);
  }
}