//footer
.content{
  &__newsletter{
    background-color: $smoky-black;
    color: $white;
    position: relative;
  }
  &__form{
    padding: 1em 8em 1em 3em;
    h2{
      font-size: $font-size-xx-large;
      margin-bottom: 0.5em;
    }
    label{
      display: block;
      margin-bottom: 1em;
    }
    input{
      padding: 0.5em 1em;
      width: 100%;
      border: 0;
      border-radius: 0;
      &::placeholder{
        font-family: $raleway;
      }
    }
  }
  &__subscription{
    background-color: $white;
    color: $smoky-black;
    position: absolute;
    padding: 1em;
    text-align: center;
    font-weight: 700;
    font-size: $font-size-large;
    right: 0;
    top: 0;
    bottom: 0;
    writing-mode: vertical-rl;
  }
}

@media (min-width: $breakpoint-desktop) {
  .content__newsletter {
    position: fixed;
    width: 45%;
    bottom: 0;
  }
}