.nav{
    height: auto;
    justify-content: space-between;
    &__toggler{
        position: absolute;
        left: -100vw;
    }
    &__label{
        position: absolute;
        right: 2em;
        top: 1.5em;
    }
    &__links{
        max-height: 0;
        overflow: hidden;
        background: $white;
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        li{
            background: $white;
        }
    }
    #toggler:checked ~ &__links {
        max-height: 450px;
        transition: max-height 0.3s ease-in;
    }
    &__brand{
        background: $smoky-black;
        color: $white;
        font-family: $old-standard;
        text-decoration: none;
        font-size: 1.5em;
        padding: 1em 0.5em;
        line-height: 1.4em;
        display: inline-block;
    }
    &__link{
        background: $white;
        display: block;
        font-size: 1em;
        color: $smoky-black;
        text-decoration: none;
        padding: 2em;
        font-family: $raleway;
        font-weight: $bold;
    }
}
@media (min-width: $breakpoint-tablet) {
    .nav{
        display: inline-flex;
        position: relative;
        width: 100%;
        justify-content: space-between;
        &__label{
            display: none;
        }
        &__links{
            display: flex;
            position: relative;
            padding-right: 3em;
            height: auto;
            max-height: 80px;
            width: auto;
        }
    }
    
  }